# Week #3 - Data Load
Data Pipeline Course - Sekolah Engineer - Pacmann Academy

## Description 
Data loading involves the process of transferring extracted and/or transformed data into a target storage system. This chapter explores various methods for loading data from extraction results into a staging database (raw data), as well as strategies for handling and storing failed data loads (and for the next stage) in object storage as .csv files.

## Case Description
<img src='pict/load1.png' width="800"> <br>

In the Data Extraction module, we successfully extracted data from the following sources:
1. Spreadsheet
2. Database
3. API

In the Data Load module, we will focus on the following tasks:
1. Handle failed data loads in object storage (MinIO) 
2. Load raw data into the staging database (PostgreSQL)

In [20]:
from dotenv import load_dotenv
import os
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

# create modul log_to_csv from previouse section
from src.log.log import log_to_csv

## Load and Handle Failure Data
we will learn how to handle any data load failures by storing the failed data in object storage using MinIO

1. Create Access and Secret Key

    To interact with the MinIO server, you need to set up the MinIO client with an access key and a secret key. These keys act as credentials that allow the client to authenticate and authorize access to MinIO resources. Hereâ€™s how to create and configure these keys:

    a. Access MinIO Console: <br>
    Open the MinIO console in your browser. If you are running MinIO locally with Docker, the console is usually accessible at http://localhost:9000. <br>

    b. Go to Access Key and Create New Key <br>
    <img src='pict/load2.png' width="800"> <br>

    b. Click Create New Access Key <br>
    <img src='pict/load3.png' width="800"> <br>

    Once you have the access and secret keys, you need to configure them in your application code.

2. File .env
    Save the access and secret key of your minio obtained from the MiniO service

    example:
    ```
    ACCESS_KEY_MINIO = 'YOUR ACCESS_KEY_MINIO'
    SECRET_KEY_MINIO = 'YOUR SECRET_KEY_MINIO'
    ```

In [2]:
load_dotenv(".env", override=True)

True

In [3]:
ACCESS_KEY_MINIO = os.getenv("ACCESS_KEY_MINIO")
SECRET_KEY_MINIO = os.getenv("SECRET_KEY_MINIO")

3. Library

In [ ]:
!pip install minio

In [21]:
#The Minio libray is used to interact with a MinIO server. 
from minio import Minio

# BytesIO provides a way to work with binary data in memory as if it were a file.
from io import BytesIO

4. Create Function handle_error to dump failure data to MiniO

    You will conver your dataframe in to csv file using BytesIO

In [6]:
def handle_error(data, bucket_name:str, table_name:str):

    current_date = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    # Initialize MinIO client
    client = Minio('localhost:9000',
                access_key=ACCESS_KEY_MINIO,
                secret_key=SECRET_KEY_MINIO,
                secure=False)

    # Make a bucket if it doesn't exist
    if not client.bucket_exists(bucket_name):
        client.make_bucket(bucket_name)

    # Convert DataFrame to CSV and then to bytes
    csv_bytes = data.to_csv().encode('utf-8')
    csv_buffer = BytesIO(csv_bytes)

    # Upload the CSV file to the bucket
    client.put_object(
        bucket_name=bucket_name,
        object_name=f"{table_name}_{current_date}.csv", #name the fail source name and current etl date
        data=csv_buffer,
        length=len(csv_bytes),
        content_type='application/csv'
    )

    # List objects in the bucket
    objects = client.list_objects(bucket_name, recursive=True)
    for obj in objects:
        print(obj.object_name)

## Staging Area

### Create database staging

Create a staging database with the following tables:
- customer
- category
- orders

In the staging area, we will store raw data without performing any transformations.

``` sql
-- Create the category table
CREATE TABLE category (
    category_id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    description TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Create the customer table
CREATE TABLE customer (
    customer_id SERIAL PRIMARY KEY,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL,
    phone VARCHAR(100),
    address TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Create the order table
CREATE TABLE orders (
    order_id int, -- The field data type are intentionally different from the data_api to create a case where data fails to move to the table
    customer_id INT REFERENCES customer(customer_id),
    order_date DATE NOT NULL,
    price NUMERIC(10, 2) NOT NULL, 
    product_id INT NOT NULL,
    quantity INT NOT NULL,
    status varchar NOT NULL, 
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY(order_id,product_id)
);

```

Load Process

We will Apply upsert using libray pangres based on primary key for each data

In [12]:
from pangres import upsert
def load_staging(data, schema:str, table_name: str, idx_name:str, source):
    try:
        # create connection to database
        conn = create_engine("postgresql://postgres:aku@localhost/staging")
        
        # set data index or primary key
        data = data.set_index(idx_name)
        
        # Do upsert (Update for existing data and Insert for new data)
        upsert(con = conn,
                df = data,
                table_name = table_name,
                schema = schema,
                if_row_exists = "update")
        
        #create success log message
        log_msg = {
                "step" : "load staging",
                "status": "success",
                "source": source,
                "table_name": table_name,
                "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")  # Current timestamp
            }
        return data
    except Exception as e:

        #create fail log message
        log_msg = {
            "step" : "load staging",
            "status": "failed",
            "source": source,
            "table_name": table_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")  # Current timestamp
        }

        # Handling error: save data to Object Storage
        try:
            handle_error(data = data, bucket_name='error', table_name= table_name)
        except Exception as e:
            print(e)
    finally:
        log_to_csv(log_msg, 'log.csv')

## Extract Data

From previeous section, we will load the extracted data to staging area and save the failed data to object storage

In [8]:
# transform previous section to modul
from src.extract.extract_spreadsheet import extract_spreadsheet
from src.extract.extract_database import extract_database
from src.extract.extract_api import extract_api

In [9]:
# Extract Data Category from Spreadsheet
KEY_CATEGORY  = os.getenv("KEY_CATEGORY")

data_category = extract_spreadsheet(worksheet_name = 'category',
                                    key_file = KEY_CATEGORY)

In [10]:
data_category

,category_id,name,description,created_at,updated_at
1,1,Computers&Accessories,Computers&Accessories is Skill final here skin...,2021-01-01 0:00:00,2021-01-01 0:00:00
2,2,Electronics,Electronics is Letter offer probably state org...,2021-01-01 0:00:00,2021-01-01 0:00:00
3,3,MusicalInstruments,MusicalInstruments is Above without but federa...,2021-01-01 0:00:00,2021-01-01 0:00:00
4,4,OfficeProducts,OfficeProducts is Letter participant lot indic...,2021-01-01 0:00:00,2021-01-01 0:00:00
5,6,HomeImprovement,HomeImprovement is Meeting senior student win ...,2021-01-01 0:00:00,2021-01-01 0:00:00
6,7,Toys&Games,Toys&Games is Local summer prevent authority h...,2021-01-01 0:00:00,2021-01-01 0:00:00
7,8,Car&Motorbike,Car&Motorbike is Big people role me play onto.,2021-01-01 0:00:00,2021-01-01 0:00:00
8,9,Health&PersonalCare,Health&PersonalCare is Stand response prove co...,2021-01-01 0:00:00,2021-01-01 0:00:00
9,5,Home and Kitchen,Home&Kitchen is Service discussion again sea a...,2021-01-01 0:00:00,2021-01-01 0:00:00

In [13]:
# Load to Staging
column_category=['category_id','name','description']
load_staging(data=data_category[column_category], schema= "public", 
              table_name = "category", idx_name = "category_id", 
              source = "Spreadsheet")

,name,description
category_id,,
1,Computers&Accessories,Computers&Accessories is Skill final here skin...
2,Electronics,Electronics is Letter offer probably state org...
3,MusicalInstruments,MusicalInstruments is Above without but federa...
4,OfficeProducts,OfficeProducts is Letter participant lot indic...
6,HomeImprovement,HomeImprovement is Meeting senior student win ...
7,Toys&Games,Toys&Games is Local summer prevent authority h...
8,Car&Motorbike,Car&Motorbike is Big people role me play onto.
9,Health&PersonalCare,Health&PersonalCare is Stand response prove co...
5,Home and Kitchen,Home&Kitchen is Service discussion again sea a...

In [14]:
# Extract Data Customer from Database
df_customer = extract_database(table_name="customer")

In [15]:
df_customer

,customer_id,first_name,last_name,email,phone,address,created_at,updated_at
0,1001,Emma,Watson,emmawatson@mailcom,639-601-6489,"0682 Davis Mount North Ryan, DE 34214",2024-07-02 16:44:46.245116,2024-07-02 16:44:46.245116

In [16]:
# Load to Staging
column_customer=['customer_id','first_name','last_name','email','phone','address']
load_staging(data=df_customer[column_customer], schema= "public", 
              table_name = "customer", idx_name = "customer_id", 
              source = "database")

,first_name,last_name,email,phone,address
customer_id,,,,,
1001,Emma,Watson,emmawatson@mailcom,639-601-6489,"0682 Davis Mount North Ryan, DE 34214"

In [17]:
current_date = datetime.now().strftime("%Y-%m-%d")
link_api = "https://api-order-teal.vercel.app/api/dummydata"
list_parameter = {
    "start_date": "2022-01-01",
    "end_date": "2022-01-01"
}

df_order = extract_api(link_api, list_parameter, "order")

In [18]:
df_order

,created_at,customer_id,order_date,order_id,price,product_id,quantity,status,updated_at
0,2022-01-01 00:00:00.000,31,2022-01-01 00:00:00.000,CMCM81MC064,8999.0,B0BBN56J5H,1,Success,2022-01-01 00:00:00.000
1,2022-01-01 00:00:00.000,31,2022-01-01 00:00:00.000,CMCM81MC064,249.0,B089BDBDGM,8,Success,2022-01-01 00:00:00.000
2,2022-01-01 00:00:00.000,31,2022-01-01 00:00:00.000,CMCM81MC064,4000.0,B09TMZ1MF8,6,Success,2022-01-01 00:00:00.000
3,2022-01-01 00:00:00.000,31,2022-01-01 00:00:00.000,CMCM81MC064,2490.0,B086394NY5,11,Success,2022-01-01 00:00:00.000
4,2022-01-01 00:00:00.000,242,2022-01-01 00:00:00.000,AAMO19OA842,1299.0,B07JPX9CR7,3,Success,2022-01-01 00:00:00.000
5,2022-01-01 00:00:00.000,242,2022-01-01 00:00:00.000,AAMO19OA842,599.0,B015ZXUDD0,11,Success,2022-01-01 00:00:00.000
6,2022-01-01 00:00:00.000,242,2022-01-01 00:00:00.000,AAMO19OA842,2900.0,B0B2DD66GS,5,Success,2022-01-01 00:00:00.000
7,2022-01-01 00:00:00.000,242,2022-01-01 00:00:00.000,AAMO19OA842,399.0,B094JNXNPV,12,Success,2022-01-01 00:00:00.000
8,2022-01-01 00:00:00.000,242,2022-01-01 00:00:00.000,AAMO19OA842,5999.0,B09MFR93KS,3,Success,2022-01-01 00:00:00.000
9,2022-01-01 00:00:00.000,242,2022-01-01 00:00:00.000,AAMO19OA842,1699.0,B01HGCLUH6,11,Success,2022-01-01 00:00:00.000

In [19]:
# Load to Staging
# This stage will failed because data type of this order_id is different with in the staging table
# So, we will save the failure data to object storage 
column_order=['order_id','customer_id','order_date','product_id','quantity','price','status']
load_staging(data=df_order[column_order], schema= "public", 
              table_name = "orders", idx_name = ["order_id","product_id"], 
              source = "database")

orders_2024-07-02 16:55:12.csv
orders_2024-07-02 17:00:54.csv
orders_2024-07-02.csv

Bucket 'error' with failure data

<img src='pict/load4.png' width="800"> <br>

link git repository: https://github.com/ihdarsyd/explore_data_pipeline.git