# Week #3 - Data Extraction
Data Pipeline Course - Sekolah Engineer - Pacmann Academy

## Description
Data extraction is the first step in building a data pipeline, where data is gathered from various sources. This chapter covers various methods of extracting data using Python, including full and incremental extraction from a PostgreSQL database, extracting data from APIs, handling backfilling, extracting data from spreadsheets using Google Service API and data pipeline logging

## Case Description
![title](pict/extract1.png)

The company's transaction data is separated as follows:
1. Order data from an API
2. Customer and Product data in a PostgreSQL Database
3. Details about product categories and subcategories in a spreadsheetadsheet

Task:
Perform data extraction with the following plan:
1. Extraction will be performed iteratively every day, so only the latest data will be extracted.
2. API Backfilling: For historical API data, backfilling will be performed to retrieve old data.
3. Database Data Extraction: <br> 
    Steps: (1) Full Extraction, (2) Incremental Extraction
4. Spreadsheet Data Extraction: <br>
    Extraction from the spreadsheet will be performed similarly to the Full Extraction

### LOG
A log is a record of events that occur during the execution of a data pipeline. It captures essential information about the processes and their status, making it easier to monitor, debug, and audit the pipeline operations. We will save our extraction log to a csv file with this format:

<code>
log_msg = { <br>
            "step" : "extraction | transformation | load", <br>
            "status": "success | failed", <br>
            "source": "spreadsheet | database | api", <br>
            "table_name": "worksheet_name | table_name", <br>
            "etl_date": "Current timestamp" <br>
        }
</code>

The log_to_csv function appends a log message to a CSV file. If the file does not exist, it creates the file and writes the column headers.

In [5]:
import csv
import os

In [6]:
def log_to_csv(log_msg: dict, filename: str):
    # Check if the file exists
    file_exists = os.path.isfile(filename)

    # Define the column headers
    headers = ["step", "status", "source", "table_name","etl_date"]

    with open(filename, mode='a', newline='') as file:
        writer = csv.DictWriter(file, fieldnames=headers)

        # Write the header only if the file doesn't exist
        if not file_exists:
            writer.writeheader()

        # Append the log message
        writer.writerow(log_msg)

### Spreadsheet

- Source: [link](https://docs.google.com/spreadsheets/d/1354yIiiX5peKRL4fbTC1aVA40bqgsxg3fA1zPP0e3uQ/edit?usp=drive_link)
- Sheet: Category and Subcategory

The team updates the data in the spreadsheet whenever there are new categories or subcategories. Downloading the data as a CSV file would complicate the process. Therefore, the preferred approach is to directly extract data from the spreadsheet using Google Services.

By using Google Services, the data can be accessed programmatically, ensuring that the latest updates are always retrieved without the need for manual downloads. This method streamlines the data extraction process and keeps the workflow efficient.


![title](pict/extract3.png)

#### 1. Preparation
To extract data directly from the spreadsheet, we need a ```credentials``` file to access the spreadsheet. Here are the steps to obtain credentials through ```Google Service```:
1. Create a project and service account
access: https://console.cloud.google.com <br>
    a. Create New Project <br>
    <img src='pict/extract4.png' width="800"> <br>
    b. Go to IAM & Admin > Service Accounts <br>
    <img src='pict/extract5.png' width="800"> <br>
    c. Create service account > Create and Continue > Skip all fields in step 2 and 3 > Done <br>
    <img src='pict/extract6.png' width="800"> <br>
    Here, we obtain an email address that we will use to access the spreadsheet file. <br>
    example: data-pipeline@data-pipeline-427506.iam.gserviceaccount.com	<br>


2. Create JSON credentials file <br>
    Obtain the credentials file to be used by our data pipeline project. <br>
    a. Get it by clicking the three vertical dots button > Manage keys <br>
    <img src='pict/extract7.png' width="800"> <br>
    b. Create New Key. ADD KEY > Create New Key > JSON. The file credentials will be downloaded automatically <br>
    <img src='pict/extract8.png' width="800"> <br> <br>


3. Share your google sheet to the service account <br>
    a. ```Duplicate this file on your Google Drive```: [link](https://docs.google.com/spreadsheets/d/1354yIiiX5peKRL4fbTC1aVA40bqgsxg3fA1zPP0e3uQ/edit?usp=drive_link) <br>
    b. Add permissions for the email service <br>
    <img src='pict/extract9.png' width="500"> <br>

#### 2. Library dan Workflow
The library used to access the spreadsheet is
- gspread
- oauth2client

Workflow:
Define Google Service Credential &rarr; Select the spreadsheet file to extract &rarr; Select the sheet to extract

In [7]:
!pip install gspread
!pip install oauth2client

Requirement already satisfied: gspread in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (6.1.2)
Requirement already satisfied: google-auth>=1.12.0 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gspread) (2.29.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from gspread) (1.2.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from google-auth>=1.12.0->gspread) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from google-auth>=1.12.0->gspread) (0.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from google-auth>=1.12.0->gspread) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (2.0.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.6.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2024.2.2)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: C:\Users\ihdarsyd\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: oauth2client in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (4.1.3)
Requirement already satisfied: httplib2>=0.9.1 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from oauth2client) (0.22.0)
Requirement already satisfied: pyasn1>=0.1.7 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from oauth2client) (0.6.0)
Requirement already satisfied: pyasn1-modules>=0.0.5 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from oauth2client) (0.4.0)
Requirement already satisfied: rsa>=3.1.4 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from oauth2client) (4.9)
Requirement already satisfied: six>=1.6.1 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from oauth2client) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\users\ihdarsyd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from httplib2>=0.9.1->oauth2client) (3.1.2)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: C:\Users\ihdarsyd\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [8]:
from oauth2client.service_account import ServiceAccountCredentials
import gspread
import pandas as pd
from dotenv import load_dotenv
import os
import csv
from datetime import datetime

#### 3. File .env
Save the credential.json file information obtained from the Google Service created previously

example:
```
CRED_PATH = 'C:/Data Pipeline/extract/creds/data-pipeline-427506-50d868a444ee.json'
```

In [9]:
load_dotenv(".env")

CRED_PATH = os.getenv("CRED_PATH")

#### 4. Buat ```Function auth_gspread()```
This function aims to define the credentials needed to access the spreadsheet.
- The scope defines the permissions your application will request. In this case, the scope includes access to Google Sheets (https://spreadsheets.google.com/feeds) and Google Drive (https://www.googleapis.com/auth/drive).
- ServiceAccountCredentials.from_json_keyfile_name is a method from the oauth2client library. It reads the service account credentials from a JSON key file specified by CRED_PATH.
- gspread.authorize(credentials) takes the credentials object created in the previous step and returns a gspread client object (gc).

In [10]:
def auth_gspread():
    scope = ['https://spreadsheets.google.com/feeds',
             'https://www.googleapis.com/auth/drive']

    #Define your credentials
    credentials = ServiceAccountCredentials.from_json_keyfile_name(CRED_PATH, scope) # Your json file here

    gc = gspread.authorize(credentials)

    return gc

#### 5. Create ```Function init_key_file```
The key_file is a unique identifier for the Google Sheets file.
Access to the spreadsheet file is obtained using the key from that file.

Example link:  ```https://docs.google.com/spreadsheets/d/1354yIiiX5peKRL4fbTC1aVA40bqgsxg3fA1zPP0e3uQ/edit?gid=83932574#gid=83932574```

The key from that file: ```1354yIiiX5peKRL4fbTC1aVA40bqgsxg3fA1zPP0e3uQ```
-  ```auth_gspread()``` to authenticate and authorize access to Google Sheets. 
- The ```gc.open_by_key(key_file)``` method uses the gspread client object to open the Google Sheets file identified by the key_file argument.

In [11]:
def init_key_file(key_file:str):
    #define credentials to open the file
    gc = auth_gspread()
    
    #open spreadsheet file by key
    sheet_result = gc.open_by_key(key_file)
    
    return sheet_result

6. Function ```extract_spreadsheet```  <br>
The extract_spreadsheet function is used to retrieve data from a specific sheet. <br>
- ```worksheet``` Function of the Spreadsheet object to access a specific worksheet by its name, worksheet_name.
- The ```get_all_values``` Function of the Worksheet object retrieves all the values from the worksheet as a list of lists (where each inner list represents a row of data).

In [12]:
def extract_sheet(key_file:str, worksheet_name: str) -> pd.DataFrame:
    # init sheet
    sheet_result = init_key_file(key_file)
    
    worksheet_result = sheet_result.worksheet(worksheet_name)
    
    df_result = pd.DataFrame(worksheet_result.get_all_values())
    
    # set first rows as columns
    df_result.columns = df_result.iloc[0]
    
    # get all the rest of the values
    df_result = df_result[1:].copy()
    
    return df_result

7. Perform Data Extraction <br>
Extract data from the "category" and "subcategory" sheets and save the log information to a CSV file.

In [13]:
def extract_spreadsheet(worksheet_name: str, key_file: str):

    try:
        # extract data
        df_data = extract_sheet(worksheet_name = worksheet_name,
                                    key_file = key_file)
        
        # success log message
        log_msg = {
            "step" : "extraction",
            "status": "success",
            "source": "spreadsheet",
            "table_name": worksheet_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")  # Current timestamp
        }
    except Exception as e:
        # fail log message
        log_msg = {
            "step" : "extraction",
            "status": "failed",
            "source": "spreadsheet",
            "table_name": worksheet_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")  # Current timestamp
        }
    finally:
        # load log to csv file
        log_to_csv(log_msg, 'log.csv')
        
    return df_data

In [14]:
KEY_CATEGORY  = os.getenv("KEY_CATEGORY")

In [15]:
data_category = extract_spreadsheet(worksheet_name = 'category',
                                    key_file = KEY_CATEGORY)

In [16]:
data_category

,category_id,name,description,created_at,updated_at
1,1,Computers&Accessories,Computers&Accessories is Skill final here skin...,2021-01-01 0:00:00,2021-01-01 0:00:00
2,2,Electronics,Electronics is Letter offer probably state org...,2021-01-01 0:00:00,2021-01-01 0:00:00
3,3,MusicalInstruments,MusicalInstruments is Above without but federa...,2021-01-01 0:00:00,2021-01-01 0:00:00
4,4,OfficeProducts,OfficeProducts is Letter participant lot indic...,2021-01-01 0:00:00,2021-01-01 0:00:00
5,6,HomeImprovement,HomeImprovement is Meeting senior student win ...,2021-01-01 0:00:00,2021-01-01 0:00:00
6,7,Toys&Games,Toys&Games is Local summer prevent authority h...,2021-01-01 0:00:00,2021-01-01 0:00:00
7,8,Car&Motorbike,Car&Motorbike is Big people role me play onto.,2021-01-01 0:00:00,2021-01-01 0:00:00
8,9,Health&PersonalCare,Health&PersonalCare is Stand response prove co...,2021-01-01 0:00:00,2021-01-01 0:00:00
9,5,Home and Kitchen,Home&Kitchen is Service discussion again sea a...,2021-01-01 0:00:00,2021-01-01 0:00:00

## Database

Source: Table product and customer
[Link](https://drive.google.com/drive/folders/1ED0sg2AZNH_Kl5Pb1cBUufnPCphpM21R)


Process:
- Full Extraction: Retrieve all existing data from the tables.
- Insert New Data: Insert new records with the current create date.
- Incremental Extraction: Retrieve newly added data since the last extraction process.

This process involves extracting data comprehensively, inserting new records with updated timestamps, and ensuring only new data is extracted incrementally in subsequent runs.

### Extract Data From PostgreSQL

Function Steps:
1. Establish Database Connection: Connects to a PostgreSQL database named mini_order.
2. Read Log Data: Reads existing log data from log.csv to determine the last successful extraction timestamp (etl_date).
3. Initial Load or Incremental Extraction:
    - If no previous extraction has been recorded (etl_date is empty), set etl_date to '1111-01-01' indicating the initial load.
    - Otherwise, retrieve data added since the last successful extraction (etl_date).
4. Query Execution: Constructs a SQL query to select all columns from the specified table_name where created_at is greater than etl_date.
5. Data Extraction: Executes the SQL query using pd.read_sql to fetch the data into a Pandas DataFrame (df).

In [17]:
from sqlalchemy import create_engine

In [2]:
def extract_database(table_name: str): 
    
    try:
        # create connection to database
        conn = create_engine("postgresql://postgres:aku@localhost/mini_order")

        log = pd.read_csv("log.csv")

        # Get date from previous process
        condition = (
            (log['step'] == 'extraction') &
            (log['status'] == 'success') &
            (log['source'] == 'database') &
            (log['table_name'] == table_name)
        )

        # Apply the filter
        etl_date = log[condition]['etl_date']

        # If no previous extraction has been recorded (etl_date is empty), set etl_date to '1111-01-01' indicating the initial load.
        # Otherwise, retrieve data added since the last successful extraction (etl_date).
        if(etl_date.empty):
            etl_date = '1111-01-01'
        else:
            etl_date = max(etl_date)

        # Constructs a SQL query to select all columns from the specified table_name where created_at is greater than etl_date.
        query = f"SELECT * FROM {table_name} WHERE created_at > %s::timestamp"

        # Execute the query with pd.read_sql
        df = pd.read_sql(sql=query, con=conn, params=(etl_date,))
        log_msg = {
                "step" : "extraction",
                "status": "success",
                "source": "database",
                "table_name": table_name,
                "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")  # Current timestamp
            }
        return df
    except Exception as e:
        log_msg = {
            "step" : "extraction",
            "status": "failed",
            "source": "database",
            "table_name": table_name,
            "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")  # Current timestamp
        }
    finally:
        log_to_csv(log_msg, 'log.csv')

In [19]:
df_customer = extract_database(table_name="customer")

In [20]:
df_customer

Empty DataFrame
Columns: [customer_id, first_name, last_name, email, phone, address, created_at, updated_at]
Index: []

### Test Input New Data
Input a new data record, then try extracting it to get the new data (without the old data that has been extracted)

In [21]:
def insert_data(data:pd.DataFrame ,table_name:str):
    conn = create_engine("postgresql://postgres:aku@localhost/mini_order")

    data.to_sql(table_name, con=conn, if_exists='append', index=False)

In [22]:
data = pd.DataFrame({
    "customer_id":[1001],
    "first_name": ["Emma"],
    "last_name": ["Watson"],
    "email": ["emmawatson@mailcom"],
    "phone": ["639-601-6489"],
    "address": ["0682 Davis Mount North Ryan, DE 34214"]
})

insert_data(data,'customer')

### Extract New Data

In [23]:
df_customer = extract_database(table_name="customer")

In [24]:
df_customer

,customer_id,first_name,last_name,email,phone,address,created_at,updated_at
0,1001,Emma,Watson,emmawatson@mailcom,639-601-6489,"0682 Davis Mount North Ryan, DE 34214",2024-07-02 16:44:46.245116,2024-07-02 16:44:46.245116

## API

API data extraction involves retrieving data from an external source or service using API requests. This process is essential for integrating real-time or periodic updates into your data pipeline.

If an API sends data daily and we want to extract data for each day, we simply specify the date parameter of the API with the current date. But what if we want to retrieve data from previous days? This is where ```backfilling``` comes into play. <br>
Backfilling refers to the process of retrieving historical data that was missed during regular extraction intervals. This is typically necessary when integrating new data sources or when there were interruptions in data extraction. <br>

Use Case: <br>
- Daily Extraction: Set the date parameter of the API to the current date for daily extraction of data. <br>
- Backfilling: Specify a date range in the date parameter to retrieve historical data that may have been missed in previous extractions.

#### Source Data API

source: https://api-order-teal.vercel.app/api/dummydata <br>
parameter:
- start_date
- end_date

In [25]:
import requests

In [26]:
def extract_api(link_api:str, list_parameter:dict, data_name):
    try:
        # Establish connection to API
        resp = requests.get(link_api, params=list_parameter)

        # Parse the response JSON
        raw_response = resp.json()

        # Convert the JSON data to a pandas DataFrame
        df_api = pd.DataFrame(raw_response)

        # create success log message
        log_msg = {
                "step" : "extraction",
                "status": "success",
                "source": "api",
                "table_name": data_name,
                "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")  # Current timestamp
            }
        return df_api

    except requests.exceptions.RequestException as e:
        print(f"An error occurred while making the API request: {e}")

        # create fail log message
        log_msg = {
                "step" : "extraction",
                "status": "failed",
                "source": "api",
                "table_name": data_name,
                "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")  # Current timestamp
            }
        return pd.DataFrame()
    

    except ValueError as e:
        print(f"An error occurred while parsing the response JSON: {e}")

        # create fail log message
        log_msg = {
                "step" : "extraction",
                "status": "failed",
                "source": "api",
                "table_name": data_name,
                "etl_date": datetime.now().strftime("%Y-%m-%d %H:%M:%S")  # Current timestamp
            }
        return pd.DataFrame()
    
    finally:
        log_to_csv(log_msg, 'log.csv')

### Extract Data API (Backfilling)

In [1]:

# Extract data from 2020-01-01 to 2024-01-01
link_api = "https://api-order-teal.vercel.app/api/dummydata"
list_parameter = {
    "start_date": "2020-01-01",
    "end_date": "2024-01-01"
}

df_bacfilling = extract_api(link_api, list_parameter, "order")

NameError: name 'extract_api' is not defined

In [28]:
df_bacfilling

,created_at,customer_id,order_date,order_id,price,product_id,quantity,status,updated_at
0,2022-01-30 00:00:00.000,697,2022-01-30 00:00:00.000,IINI91PP812,1599.0,B08ZN4B121,7,Success,2022-01-30 00:00:00.000
1,2022-01-30 00:00:00.000,697,2022-01-30 00:00:00.000,IINI91PP812,999.0,B0B94JPY2N,13,Success,2022-01-30 00:00:00.000
2,2022-01-30 00:00:00.000,697,2022-01-30 00:00:00.000,IINI91PP812,299.0,B07MP21WJD,9,Success,2022-01-30 00:00:00.000
3,2022-01-30 00:00:00.000,697,2022-01-30 00:00:00.000,IINI91PP812,999.0,B08G43CCLC,9,Success,2022-01-30 00:00:00.000
4,2021-01-03 00:00:00.000,172,2021-01-03 00:00:00.000,ONNA03MN757,3999.0,B0B217Z5VK,5,Success,2021-01-03 00:00:00.000
...,...,...,...,...,...,...,...,...,...
3624,2021-04-24 00:00:00.000,639,2021-04-24 00:00:00.000,AANA44AN436,1230.0,B07NKNBTT3,1,Success,2021-04-24 00:00:00.000
3625,2022-10-10 00:00:00.000,529,2022-10-10 00:00:00.000,IAAC58MO380,1499.0,B0083T231O,15,Success,2022-10-10 00:00:00.000
3626,2022-10-10 00:00:00.000,529,2022-10-10 00:00:00.000,IAAC58MO380,1440.0,B07VZYMQNZ,4,Success,2022-10-10 00:00:00.000
3627,2022-10-10 00:00:00.000,529,2022-10-10 00:00:00.000,IAAC58MO380,670.0,B09PTT8DZF,10,Success,2022-10-10 00:00:00.000
3628,2022-12-31 00:00:00.000,989,2022-12-31 00:00:00.000,ANAC00PM416,699.0,B07JF9B592,15,Success,2022-12-31 00:00:00.000

### Extract Today Data API

In [29]:
current_date = datetime.now().strftime("%Y-%m-%d")
link_api = "https://api-order-teal.vercel.app/api/dummydata"
list_parameter = {
    "start_date": current_date,
    "end_date": current_date
}

df_api = extract_api(link_api, list_parameter, "order")

In [30]:
df_api
# There is no new data available at this time (empty)

Empty DataFrame
Columns: []
Index: []

link git repository: https://github.com/Kurikulum-Sekolah-Pacmann/ingestion_data_pipeline.git